body{
	margin: 0;
	padding: 10px;
	background-color:#696969;
}
.container{
position: absolute;
top: 2%;
left: 5%;
}
.expand{
	background-color: #000000;
	height: 50px;
	width: 0px;
	/*position: absolute;*/
	text-align: center;
	line-height: 45px;
	padding-left: 50px;
	padding-right: 0;
	transition: all 0.3s ease;
}
.input{
	border:0;
	border-bottom: 2px solid #fff;
	background:transparent;
	width: 0%;
/*	left: 20px;*/
	padding:5px 0;
	outline: none;
	color: #fff;
	font-weight: initial;
	transition: all 0.3s ease;
}
.expand .fa{
	position: absolute;
	color: #fff;
	left: 17px;
	top: 17px;
	font-size: 20px;
	cursor: pointer;
}
::placeholder{
	color: white;
	font-style: italic;
}
.expand.active{
	width: 280px;
	padding-right: 25px;
	transition: all 0.3s ease;
}
.input.active{
	width: 98%;
	padding-right: 5px;
	transition:all 0.3s 0.2s ease;
}